.default_container {
    max-width: 1200px;
    margin: 20px auto;
}

.banner {
    padding: 12% 0;
}

.header {
    padding: 15px 0;
    max-width: 500px;
}

.cotent {
    padding: 8px 0;
    max-width: 1000px;
}